<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
       <h1>job details</h1>
    </header>
    <main>
       

        <% y.forEach(y=>{ %>
            <div>
           <p> Title: <%= y.title%></p>
           <p> Company: <%= y.company%></p>
           <p> Location: <%= y.location%></p>
           <a href="<%= y.url%>"><%= y.url%></a>
           <p> description: <%= y.description%></p>
          

           <form action="/details/<%= y.id%>?_method=PUT" method="POST">
        
            <input type="text" name="title" value="<%= y.title%>">
            <input type="text" name="company" value="<%= y.company%>">
            <input type="text" name="location" value="<%= y.location%>">
            <input type="text" name="url" value="<%= y.url%>">
            <input type="text" name="description" value="<%= y.description%>">
            <input type="hidden" name="id" value="<%= y.id%>">


            <input type="submit" value="UPDATE">
        
        </form>
        <form action="/details/<%= y.id%>?_method=DELETE" method="POST">
            <input type="submit" value="delete">
        </form>

        </div>
  
   <% }) %>
       

    </main>
</body>
</html>