<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <%- include('layout/header.ejs')%>
       <h1>all usa jobs</h1>
    </header>
    <main>
       
         <form action="/" method="POST">

            <label for="create">create</label>
            <input type=" text"  name="title" value="title">
            <input type=" text"  name="company" value="company">
            <input type=" text"  name="location" value="location">
            <input type=" text"  name="url" value="url">
            <input type=" text"  name="description" value="description">
            

              <button type="submit">CREATE</button>
         </form>


         <% if (cond){ %>
            <% y.forEach(y=>{ %>
                <div>
               <p> Title: <%= y.title%></p>
               <p> Company: <%= y.company%></p>
               <p> Location: <%= y.location%></p>
               <a href="<%= y.url%>"><%= y.url%></a>
               <p> description: <%= y.description%></p>
             
            </div>
      
       <% }) %>
           <%}else{%>
            
            <% y.forEach(y=>{ %>
                <div>
               <p> Title: <%= y.title%></p>
               <p> Company: <%= y.company%></p>
               <p> Location: <%= y.location%></p>
               <a href="<%= y.url%>"><%= y.url%></a>
           
            </div>
      
       <% }) %>

             <%}%>


       

    </main>
</body>
</html>